{% extends 'base.html' %}
{% load static %}
{% block title %} Личный кабинет{% endblock %}

{% block content %}
    <section class="big__container">
        <h1 class="title">Личный кабинет</h1>
        <section class="profile__grid">
            <section class="profile">
                <div class="profile__wrapper">
                    <div class="profile__edit">
                        <button class="button__clear">
                            <img src="icons/edit.svg" alt="edit">
                        </button>
                    </div>
                    <div class="profile__name">
                        <h2>Константин Константинопольский</h2>
                    </div>
                    <div class="profile__contacts">
                        <div class="profile__phone">
                            <img src="icons/phone.svg" alt="phone">
                            8 888 888 88 88
                        </div>
                        <div class="profile__email">
                            <img src="icons/email.svg" alt="email">
                            smak.eto.vkusno@gmail.com
                        </div>
                    </div>
                    <div class="profile__exit">
                        <button class="button__clear">Выйти из аккаунта</button>
                    </div>
                </div>
            </section>
    
            <section class="profile adress ">
                <div class="profile__wrapper">
                    <div class="profile__edit">
                        <button class="button__clear">
                            <img src="icons/edit.svg" alt="edit">
                        </button>
                    </div>
                    <div class="profile__name">
                        <h2>Адреса</h2>
                    </div>
                    <div class="profile__contacts">
                        <div class="profile__phone">
                            Ленина 10, кв 106
                        </div>
                        <div class="profile__phone">
                            Ленина 10, кв 106
                        </div>
                    </div>
                    <div class="profile__exit">
                        <button class="button button__big">
                            <!-- <img src="icons/brown_plus.svg" alt="plus"> -->
                            Добавить новый адрес    
                        </button>
                    </div>
                </div>
            </section>
    
            <section class="history" id="order">
                <div class="history__wrapper">
                    <div class="history__title">
                        <h2>История заказов</h2>
                    </div>
                    <div class="history__orders">
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        04.05.2023
                                    </div>
                                    <div class="history__time">
                                        15:25
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        1200 ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
                            <div class="history__food">
                                <img src="img/detalini.svg" alt="food">
                                <img src="img/detalini.svg" alt="food">
                            </div>
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                    </div>
                    <div class="history__button">
                        <button class="button button__big button__dark">Открыть историю полностью</button>
                    </div>
                </div>
            </section>
        </section>
    </section>



{% endblock %}
