{% extends 'base.html' %}
{% load static %}
{% block title %} Личный кабинет{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href={% static "css/cabinet.min.css" %}>
{% endblock %}

{% block content %}
    <section class="big__container">
        <h1 class="title">Личный кабинет</h1>
        <section class="profile__grid">
            <section class="profile">
                <div class="profile__wrapper">
                    <div class="profile__edit">
                        <button class="button__clear">
                            <a href={% url "edit_profile" pk=user.pk %}><img src={% static "icons/edit.svg" %} alt="edit"></a>
                        </button>
                    </div>
                    <div class="profile__name">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    </div>
                    <div class="profile__contacts">
                        <div class="profile__phone">
                            <img src={% static "icons/phone.svg" %} alt="phone">
                            {{ user.phone }}
                        </div>

                    </div>
                    <div class="profile__exit">
                        <a href={% url 'logout' %}><button class="button__clear" >Выйти из аккаунта</button></a>
                    </div>
                </div>
            </section>
    
            <section class="profile adress ">
                <div class="profile__wrapper">
                    <div class="profile__edit">
                        <button class="button__clear">
                            <a href={% url 'edit_address' pk=user.pk %}><img src={% static "icons/edit.svg" %} alt="edit"></a>
                        </button>
                    </div>
                    <div class="profile__name">
                        <h2>Адреса</h2>
                    </div>

                    <div class="profile__contacts">
                        {% for address in user.addresses.all %}
                        <div class="profile__phone">
                            {{ address }}
                        </div>

                        {% endfor %}
                    </div>

                    <div class="profile__exit">
                        <a href={% url 'add_address' pk=user.pk %}>
                            <button class="button button__big">
                                Добавить новый адрес
                            </button>
                        </a>
                    </div>
                </div>
            </section>
    
            <section class="history" id="order">
                <div class="history__wrapper">
                    <div class="history__title">
                        <h2>История заказов</h2>
                    </div>
                    <div class="history__orders">
                        {% for order in orders %}
                        <div class="history__order">
                            <div class="divider"></div>
                            <div class="history__information">
                                <div class="history__datatime">
                                    <div class="history__data">
                                        {{ order.order_date }}
                                    </div>
                                </div>
                                <div class="history__info">
                                    <div class="history__price">
                                        {{ order.total_price|floatformat:"0"}} ₽
                                    </div>
                                    <div class="history__delivery green">
                                        доставлен
                                    </div>
                                </div>
                            </div>
{#                            <div class="history__food">#}
{#                                <img src={% static "img/detalini.svg"%} alt="food">#}
{#                                <img src={% static  "img/detalini.svg" %} alt="food">#}
{#                            </div>#}
                            <div class="history__order-buttons">
                                <button class="history__order-button button button__big">Повторить заказ</button>
                                <button class=" button button__border">Открыть чек</button>
                            </div>
                        </div>
                        {% endfor %}


{#                    <div class="history__button">#}
{#                        <button class="button button__big button__dark">Открыть историю полностью</button>#}
{#                    </div>#}
                </div>
            </section>
        </section>
    </section>



{% endblock %}
