.order-adress {
    width: 640px;
    height: 376px;
    
    background: #FFFFFF;
    box-shadow: 0px 5.84789px 22.1511px rgba(154, 67, 49, 0.1);
    border-radius: 16px;
    &__wrapper {
        padding: 40px;
    }
}