{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href={% static "css/login.min.css" %}>
{% endblock %}

{% block content %}

    <section class="login">
        <div class="container">
            <div class="login__menu">
                <div class="login__wrapper">
                    <div class="login__enter-reg">
                        <div class="login__enter">
                            <div class="login__title">
                                <h2>Регистрация</h2>
                            </div>

                            <form  class="login__form" method="post">
                                {% csrf_token %}
                                <div>{{ form.non_field_errors }}</div>
                                <div class="input login__input login__input-reg">
                                    {{ form.first_name }}
                                    <label class="label">Имя</label>
                                </div>
                                <div class="input login__input login__input-reg">
                                    {{ form.last_name }}
                                    <label class="label">Фамилия</label>
                                </div>
                                <div class="input login__input login__input-reg">
                                    {{ form.phone }}
                                    <label class="label">Телефон</label>
                                </div>

                                <div class="input login__input login__input-reg">
                                    {{ form.password1 }}
                                    <label class="label">Пароль</label>
                                    <div>
                                        <img  data-hide src={% static "icons/open_eye.svg" %} alt="eye" class="open__eye fade hide">
                                        <img  data-show src={% static "icons/close_eye.svg" %} alt="eye" class="close__eye fade">
                                    </div>
                                </div>
                                <div class="input login__input login__input-reg">
                                    {{ form.password2 }}
                                    <label class="label">Пароль повторно</label>

                                </div>

                                <div class="login__politics">
                                    <div class="login__politics-text">
                                        Я принимаю “ <a href="https://burgerkingrus.ru/docs/privacy.pdf">условия использования</a> ” и “<a href="https://burgerkingrus.ru/docs/privacy.pdf">политику конфеденциальности</a> ”
                                    </div>
                                </div>
                                <div class="login__button">
                                    <button class="button button__big button__dark" type="submit">
                                        Сохранить и продолжить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}