{% load static %}
<div class="modal hide">
    <!-- hide -->
    <div class="modal__info">
        <div class="modal__wrapper">

            <div class="modal__food">
                <div class="modal__img">

                    <div class="modal__img-food">
                        <img src={% static "img/detalini.svg" %} alt="food">
                    </div>
                    <div class="modal__img-buy">
                        <div class="modal__img-cost">
                            <div class="modal__img-price">
                                {{ dish.price }} ₽
                            </div>
                            <div class="modal__img-grams">
                                {{ dish.weight }} гр
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal__information">
                    <h2 class="modal__title">
{#                                        (Для Миши: закрыть на Escape)#}
                        {{ dish.title }}
                    </h2>
                    <p class="modal__text">
{#                                        Паста диталини, зеленый горошек, репчатый лук, панчетта, мясо краба,#}
{#                                        пармезан, помидоры черри, перец чилли, оливковое масло.#}
                        {{ dish.caption }}
                    </p>

                    <h3 class="modal__subtitle">
                        С добавками еще вкуснее!
                    </h3>

                    <div class="modal__supplements">
                        <div class="modal__supplement">
                            <div class="modal__supplement-inside">
                                <div class="modal__supplement-left">
                                    <input type="checkbox" id="four-supplement">
                                    <label for="four-supplement">
                                        <div class="tick_mark"></div>
                                    </label>
                                    <div class="modal__supplement-name">
                                        перец чилли
                                    </div>
                                </div>
                                <div class="modal__supplement-right">
                                    <div class="modal__supplement-price">
                                        +13 ₽
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal__buttons">
                <div class="button__counter">
                    <button class="button__minus"><img src={% static "icons/minus.svg" %} alt="minus"></button>
                    <div class="button__counter-number">1</div>
                    <button class="button__plus"><img src={% static "icons/plus.svg" %} alt="plus"></button>
                </div>

                <button class="button">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
