{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__info">
                <div class="footer__links">
                    <a href="#" class="footer__link">О компании</a>
                    <a href="#" class="footer__link">Акции</a>
                    <a href="#" class="footer__link">Зона и условия доставки</a>
                </div>
                <div class="footer__politics">
                    <h3>Политика конфиденциальности</h3>
                    <p class="footer__text">Предложение не является публичной офертой. <br>
                    Мы не несем ответствееность за состав и свежесть наших блюд. В этом самый СМАК!!!!!!11!!1!</p>
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__social">
                    <a href="https://vk.com/styleru"><img src={% static "icons/vk.svg" %} alt="vk"></a>
                    <a href="#"><img src={% static "icons/inst.svg" %} alt="inst"></a>
                    <a href="https://t.me/styleruorg"><img src={% static "icons/tg.svg"%} alt="tg"></a>
                    <!-- <a href="#"><img src="img/snake.svg" alt=""></a> -->
                </div>
                <div class="footer__text">
                    СМАК 2023 - 2023 &copy;
                </div>
            </div>
        </div>
    </div>
</footer>
