@import 'all/variables';

.big__container{
    padding: 210px 0 160px 0;
    max-width: 1200px;
    margin: 0 auto;
   
}

.container {
    display: block;
    max-width: 1184px;
    margin: 0 auto;
}

.busket{
    display: flex;
    justify-content: space-between;
    &__left {
        height: 614px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right {
        height: 584px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track{
        background: $second-color;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $main-color;
        // border-radius: 20px;
    }
}



body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import 'all/button';
@import 'all/header';
@import 'all/footer';
@import 'all/title';
@import 'busket/order';
@import 'busket/adding';
@import 'busket/geoposition';
@import 'busket/result';