@import './variables.scss';

.container {
    display: block;
    max-width: 1184px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}



body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hide {
    display: none;
} 


@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/menu';
@import 'blocks/footer';
@import 'blocks/main';
@import 'blocks/modal';