@import 'all/variables';

.container {
    display: block;
    max-width: 1184px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track{
        background: $second-color;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $main-color;
        // border-radius: 20px;
    }
}



body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hide {
    display: none;
}




@import 'all/button';
@import 'all/header';
@import 'all/footer';
@import 'blocks/slider';
@import 'blocks/menu';
@import 'blocks/main';
@import 'blocks/modal';