.menu {
    padding: 105px 0 250px 0;
    &__tabs{
        width: 100%;
        // height: 85px;
        ul {
            margin: 0;
            padding: 0 77px 0 77px;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items:center;
            list-style-type: none;
        }
    }
    &__tab{
        cursor: pointer;
        width: 120px;
        height: 35px;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        transition: 0.5s all;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #ffffff00;
        border-radius: 16px;
        &:hover {
            background: $main-color;
            color: #ffffff;
            border-radius: 16px;
        }
        &-active{
            background: $main-color;
            color: #ffffff;
            border-radius: 16px;
        }
    }
    &__contents {
        padding-top: 32px;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: auto auto auto;
        // grid-template-rows: min-height(300px, 600px);
        grid-auto-rows: min-height(300px, 500px);
    }
    &__content{
        position: relative;
        min-height: 400px;
        &-wrapper {
            padding: 32px 20px 0 20px;
        }
        &-photo {
            &-back {
                position: absolute;
                top: 140px;
                width: 256px;
                height: 132px;
                z-index: -10;
                background-color: $second-color;
                border-radius: 16px;
            }
        }
        &-img {
            display: block;
            width: 224px;
            height: 224px;
            margin: 0 auto;
            border-radius: 16px;
        }
        &-title{
            margin: 30px 0 20px 0;
            width: 248px;
            min-height: 40px;
            font-family: 'Ubuntu';
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &-buy {
            position: absolute;
            bottom: 0;
            width: 248px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price{
            width: 49px;
            height: 24px;
            font-family: 'Ubuntu';
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
        }
        &-grams{
            width: 49px;
            height: 15px;
            font-family: 'Ubuntu';
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
        
    }
}